<template>
    <div id="new-store">
        <ul class="nav nav-tabs">
            <li>
                <router-link to="/">Product Browser</router-link>
            </li>
            <li class="active">
                <router-link to="/stores">Manage WooCommerce Stores</router-link>
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-3">
                <router-link to="/stores/new" class="btn btn-primary btn-lg btn-block">
                    New Store
                </router-link>

            </div>
            <div class="col-sm-9">
                <div class="panel panel-info">
                    <div class="panel-heading">Add New Store</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="name" class="form-label">Store Name</label>
                            <input type="text" v-model="store.name" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="url" class="form-label">Store URL</label>
                            <input type="text" class="form-control" v-model="store.url">
                        </div>
                        <div class="form-group">
                            <label for="client_key" class="form-label">Client Key</label>
                            <input type="text" class="form-control" v-model="store.client_key">
                        </div>
                        <div class="form-group">
                            <label for="client_secret" class="form-label">Client Secret</label>
                            <input type="text" class="form-control" v-model="store.client_secret">
                        </div>
                        <div class="form-group">
                            <label for="description" class="form-label">Store Description</label>
                            <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                                      v-model="store.description">

                    </textarea>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <router-link
                                    to="/stores"
                                    class="btn btn-default btn-lg">Cancel
                            </router-link>
                            <a class="btn btn-primary btn-lg" v-on:click="save()">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre>{{ store }}</pre>
    </div>

</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                store: {}
            }
        },
        methods: {
            save() {
                var self = this;
                axios.put('/api/stores', this.store)
                    .then(function (response) {
                        self.store = response;
                        self.$router.push("/stores");
                    })
            }
        }
    }
</script>