<style>
    .nav-tabs {
        margin-bottom: 20px;
    }
</style>
<template>
    <div id="app">

        <div class="container">
            <div class="page-header">
                <h1>WooCommerce Store Browser</h1>
            </div>


            <!-- route outlet -->
            <!-- component matched by the route will render here -->
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data () {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        },
        methods: {
            isActive(route) {
                console.log({
                    route: route,
                    currentRoute: this.$router.currentRoute.path
                });

                return (this.$router.currentRoute.path == route)
            }
        }
    }
</script>