<template>
    <div id="store-list">
        <ul class="nav nav-tabs">
            <li>
                <router-link to="/">Product Browser</router-link>
            </li>
            <li class="active">
                <router-link to="/stores">Manage WooCommerce Stores</router-link>
            </li>
        </ul>

        <div class="row">
            <div class="col-sm-3">
                <router-link to="/stores/new" class="btn btn-primary btn-lg btn-block">
                    New Store
                </router-link>

            </div>
            <div class="col-sm-9">
                <ul class="nav">
                    <li v-for="store in stores"><a href="#">{{ store.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                stores: [
                    {
                        id: 0,
                        name: "no stores"
                    }
                ]
            }
        },
        created() {
            var self = this;
            axios.get('/api/stores')
                .then(function (response) {
                    self.stores = response.data;
                    console.log(response);
                });
        }
    }
</script>