<template>
    <div id="product-browser">
        <ul class="nav nav-tabs">
            <li class="active">
                <router-link to="/">Product Browser</router-link>
            </li>
            <li>
                <router-link to="/stores">Manage WooCommerce Stores</router-link>
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Choose a WooCommerce Store</div>
            <div class="panel-body">
                <select v-model="currentStore" class="form-control input-lg" v-on:change="loadProducts()">
                    <option v-for="store in stores" v-bind:value="store">{{ store.name }}</option>
                </select>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Products</div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td></td>
                    <td>ID</td>
                    <td>Product ID</td>
                    <td>Name</td>
                    <td>Category</td>
                    <td>Price</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td><img v-bind:src="product.data.featured_src" height="80"></td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_id}}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        <ul>
                            <li v-for="category in product.data.categories">{{ category }}&nbsp;</li>
                        </ul>
                    </td>
                    <td v-html="product.data.price_html"></td>
                    <td>
                        <button class="btn btn-default btn-lg">Action</button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pre>{{currentStore}}</pre>
    </div>
</template>
<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                currentStore: {},
                stores: [],
                products: []
            }
        },
        created() {
            let self = this;
            axios.get('/api/stores')
                .then(function (response) {
                    self.stores = response.data;
                    console.log(response);
                });
        },
        methods: {
            loadProducts() {
                let self = this;
                let url = "/api/stores/" + this.currentStore.id + "/products";
                axios.get(url)
                    .then(function (response) {
                        self.products = response.data;
                    });
            }
        }
    }
</script>